<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <title>{% block title %}{% endblock %}</title>
    <style>
      #navbar {
        margin: 0;
        padding: 10;
        list-style-type: none;
      }
      #navbar li { display: inline; }
    </style>
</head>
<body>

<nav>
    <ul id="navbar">
        <li><a href="{% url 'home_page' %}"> Main page </a></li>
        <li><a href="{% url 'post_create' %}"> Create Post </a></li>
        <li><a href="{% url 'posts' %}"> Posts </a></li>
        <li><a href="{% url 'authors_new' %}"> Create New Author </a></li>
        <li><a href="{% url 'authors_all' %}"> Authors </a></li>
        <li><a href="{% url 'authors_sub' %}"> Subscribe to Author </a></li>
        <li><a href="{% url 'subscribers_all' %}"> All Subscribers </a></li>
        <li><a href="{% url 'about' %}"> About </a></li>
    </ul>


</nav>

{% block content %}{% endblock %}

</body>
</html>
